@use "variables" as *;
@use "mixins" as *;

/* Style général du header */
header {
  @include flexbox(row, space-around, center);
  @include couleurs(linear-gradient(45deg, $couleur3, $couleur2), $couleur1);
  padding: 20px;

  @include respond-to("xlarge") {
    @include flexbox(column, center, center);
    gap: 20px;
  }

  /* Logos */
  img {
    width: auto;
    height: 120px;
    border-radius: 50%;

    @include respond-to("medium") {
      height: 60px;
    }
  }

  .logos {
    @include flexbox(row, space-between, center);
    gap: 15px;
  }

  /* Titre */
  .titre {
    @include font($pacifico, bold, 2.5rem);
    @include respond-to("medium") {
      font-size: 2rem;
    }
  }
}

//Formulaire de connexion
.container_connexion {
  @include border(2px solid $couleur3, 5px);
  padding: 5px;
  color: black;

  .titre_connexion {
    font-weight: bold;
    text-decoration: underline;
  }
  p {
    margin: 0 auto 10px auto;
    text-align: center;
    input {
      width: 90%;
      &::placeholder {
        color: black;
      }
    }
  }
  .lien_inscription {
    font-size: 0.8rem;
    a {
      text-decoration: underline;
      color: $couleur4;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: $couleur1;
      }
    }
  }
}
