@import "variables";

@font-face {
    font-family: "ocean";
    src: url(../../sources/ocean.ttf);
}
@font-face {
    font-family:"pacifico_regular";
    src: url(../../sources/pacifico_regular.ttf)
}
@font-face {
    font-family: "delius";
    src: url(../../sources/Delius.ttf);
}

@mixin flexbox($flexdirection, $justifycontent, $aligneitems:center) {
    display: flex;
    flex-direction: $flexdirection;
    justify-content: $justifycontent;
    align-items: $aligneitems;
}

@mixin couleurs($background, $texte: black) {
    background: $background;
    color: $texte;
}

@mixin boxShadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin font($police, $weight, $size) {
    font-family: $police;
    font-weight: $weight;
    font-size: $size;
}

@mixin border($border, $radius) {
    border:$border;
    border-radius: $radius;
}

* {
    box-sizing: border-box;
    font-family: "delius", fantasy;
}

body, html {
    @include couleurs($couleur1)
}
body {
    @include flexbox(column, normal, normal);
    min-height: 100vh;
    flex-grow: 1;
    background-image: url(../../images/fond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:100%;
    min-height:100vh;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Style général du header */
header {
    @include flexbox(row, space-around, center);
    @include couleurs(linear-gradient(45deg, $couleur3, $couleur2), $couleur1);
    padding: 20px;

/* Logo */
    img {
        width: auto;
        height: 120px;
        border-radius: 50%
    }
}

/* Titre */
.titre {
    @include font($pacifico, bold, 2.5em);

}

.text_center {
    text-align: center;
}

.pacifico {
    font-family: $pacifico
}

.padding10 {
    padding: 10px;
}

/* navbar */
.navbar {
    @include boxShadow(0px 3px 10px 0px rgba(65,201,226,0.75));
    @include flexbox(row, center, center);
    @include couleurs($couleur1, $couleur4);
    gap: 70px;
    position: sticky;
    top: 0px;
    z-index: 1;

    &:hover {
        @include couleurs($couleur3, $couleur1);
    }
    
    a {
        @include font($pacifico, normal, 1.2em);
        padding: 10px 20px;

        &:hover { 
            @include couleurs($couleur1, $couleur3);
            font-weight: bold;
            border-radius: 50%;
        }
    }

}

/* Style du body */
h2 {
    @include boxShadow(3px 3px 0px 3px rgba(65,201,226,0.75));
    @include border(2px solid $couleur3, 50px);
    text-align: center;
    text-decoration: underline;
    margin: 30px auto;
    padding: 10px;
    width: 300px;
    font-family: $pacifico;
}

h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: underline;
}

/* Container principaux du texte */
.container_principal {
    @include couleurs(linear-gradient(to right, $couleur2, $couleur1));
    @include border(4px double $couleur4, 100px);
    width: 1100px;
    margin: 20px auto;
    padding : 20px 70px;
    flex-grow: 1;
}

.container_accueil {
    @include flexbox(row, space-between);
    position: relative;
}

/* Container de l'image de fond */
.container_img_background {
    flex-grow: 1;
    min-height: 80vh; 
}


.date {
    @include couleurs(linear-gradient(to right, $couleur4, $couleur3), $couleur1);
    @include font($pacifico, bold, 1.5em);
    @include border(3px solid $couleur2, 20px);
    position: absolute;
    top: 130px;
    right: 100px;
    width:fit-content;
}

.container_meteo {
    @include flexbox(column, center);
    @include couleurs(linear-gradient(to left, $couleur4, $couleur3), $couleur1);
    @include font($pacifico, bold, 1.5em);
    @include border(3px solid $couleur2, 30px);
    position: absolute;
    top: 80px;
    left: 100px;
    width:fit-content;
    color: $couleur1;
}

.spinner {
    @include border(4px solid #f3f3f3, 50%); /* Couleur de fond */
    border-top: 4px solid #3498db; /* Couleur animée */
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 50px auto; /* Centré */
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }

.hidden {
    display: none;
    }

.description_temperature_icone {
    @include flexbox(row, start);
}

.description_temperature {
     @include flexbox(column, start);
}

.bienvenue {
    @include flexbox(row, center);

    span {
        @include font($pacifico, bold, 5em);
        display: inline-block;
        color: $couleur3;
        transform: translateY(0);
        animation: wave 1.5s linear infinite;

        @for $i from 1 through 9 {
            &:nth-child(#{$i}) {
              animation-delay: #{($i - 1) * 0.1s}; //animation sur chaque lettre avec délai différent 
            }
          }
    }
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

/* pré Footer */
.prefooter {
    @include couleurs($couleur1, $couleur4);
    @include flexbox(row, center);
    margin: 0px;
    padding: 20px;
    gap: 20px;

    img {
        width: auto;
        height: 40px;
        vertical-align: middle;

        &:hover {
            transform: scale(1.1);
            filter: brightness(1.3);
        }
        
        &:active {
            transform:scale(0.9);
        }
    }
   
}


/* Trombinoscope */

.trombinoscope {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(4, 1fr);
   align-items: center;
   row-gap: 20px;
   
   img {
    width: 80px;
    }   
}

.lafont {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

/* Séances */

.periode_seances {

    text-align: center;

    span{
        text-decoration: underline;
        display: inline-block;
        margin: 40px auto;
    }
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.tableau_seance {
    @include flexbox(column, center);
    font-weight: bold;
}

.separation_bottom {
    border-bottom: 5px dotted $couleur4;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

// Animation scroll//
.container_scroll {
    @include flexbox(row, start);
    @include couleurs(linear-gradient(to right, $couleur4, $couleur3));
    @include boxShadow(1px 1px 0px 3px rgba(0, 141, 218, 0.75) inset);
    @include boxShadow(-1px -1px 0px 3px rgba(0, 141, 218, 0.75) inset);
    @include boxShadow(1px -1px 0px 3px rgba(0, 141, 218, 0.75) inset);
    @include boxShadow(-1px 1px 0px 3px rgba(0, 141, 218, 0.75) inset);
    @include border(2px $couleur4 solid, 25px);
    margin: 40px auto;
    overflow: hidden;
    width: 500px;
    height: 50px;
    }


.texte_scroll {
    display: inline-block;
    color: $couleur1;  
    will-change: transform;
}



/* Les sites  */

.sites {
    @include flexbox(column, center);
    gap: 30px;
    margin: 20px auto;

    div {
        text-align: center;
    }

        
    img {
        margin: 25px auto;
        transition: 0.3s;
    
        &:hover{
            animation: zoom 1.2s linear infinite
        }
    }
}

@keyframes zoom {
    50% {transform:scale(1.1)}
    100% {transform: scale(1);}
}

/* style du footer */
footer {
    @include flexbox(row, space-evenly);
    @include couleurs(linear-gradient(45deg, $couleur3, $couleur2));
    padding: 40px;
    font-weight:bold
}

.liens_a {
    @include flexbox(column, start, start);
    margin-top: 15px;
    font-size: 0.8em;
    font-weight: initial;
}

.contact:hover, .liens_a a:hover {
    color: $couleur4;
    font-weight: bold;
}

/* Formulaire */
form {

    h2 {
        margin-bottom: 40px;
    }

    h3 {
        font-size: medium;
        margin-bottom: 30px;
    }
}

input {
    @include couleurs($couleur1);
    @include border(none, 5px);
   margin-bottom: 20px;
   padding: 5px;
}

textarea {
    @include border(none, 10px);
}

label {
    margin-left: 20px;
    margin-right: 5px;
}

.form_container {
    @include couleurs(linear-gradient(45deg, $couleur3, $couleur1));
    @include border(none, 15px);
    width: 1100px;
    margin: 50px auto;
    padding: 20px;
}

