@use "variables" as *;
@use "mixins" as *;

form {
  text-align: center;
  p {
    width: 100%;
  }
  input {
    @include couleurs($couleur1);
    @include border(none, 5px);
    padding: 5px;
    &.bouton {
      width: 150px;
    }
  }

  textarea {
    @include border(none, 10px);
    width: 80%;
    height: 150px;
    margin: auto;
    display: block;

    @include respond-to("large") {
      width: 90%;
    }
  }
}

.input_block {
  display: block;
  margin: auto;
  margin-top: 10px;
}

/* Formulaire de contact*/

.intro_contact {
  text-decoration: underline;
  font-weight: bold;
}

.grid_contact {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

// Formulaire d'inscription

.grid_inscription {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.grid {
  display: grid;
  width: 70%;
  @include respond-to("large") {
    width: 90%;
  }

  @include respond-to("medium") {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

// Formulaire d'ajout d'articles
#addArticleForm {
  width: 100%;
  input {
    width: 100%;
    &.bouton {
      width: 30%;
    }
  }
}

#closeAddArticleBtn {
  align-self: flex-end;
}
